<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/header', {title : "로비" }) %>
  <script src="js/main_page.js"></script>
</head>

<body>
  <input type="text" id="nickname">
  <button id="btnCreateRoom">방만들기</button>
  <button id="btnEnterRoom">참여하기</button>
</body>

</html>