<%- include('templates/header', {title : "대기실"}) %>

<body>
  <h1>참가자를 대기중입니다!</h1>
  <h2>방 번호 : <%= roomNumber %></label></h2>
  <h2>현재 참가자 : <label id="enteredParticipant"></label> / <label id="maxParticipant"></label></h2>

  <script>
    const socket = io();
    

    socket.emit('enter_room', {
      userId : 'part1'
    });

    // socket.on('room_info', (data) => {
    //   $('#roomNumber').text(data.roomNumber);
    //   $('#enteredParticipant').text(data.enteredParticipant);
    //   $('#maxParticipant').text(data.maxParticipant);
    // })
  </script>

</body>

</html>