<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/header', {title : "게임화면" }) %>
  <!-- soket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/game.js"></script>

</head>




<body>

  <!-- 방을 참가하는 과정에 보여줄 화면 -->
  <div class="ready_game">
    <div class="welcome">
      <h1><label id="nickname"></label>님 환영합니다!</h1>
    </div>

    <% if(mode === 'create_room') { %>
      <!-- 방만들기를 클릭할 때 표시될 화면 -->
    
    <script>
      $(() => {
        create_room();
      })
    </script>

  <% } else if(mode === 'join_room') { %>
    <!-- 참여하기를 클릭할 때 표시될 화면 -->
    <script>
      $(() => {
        search_room();
      })
    </script>

    <div class="before_join">
      <h2>방 번호를 입력해주세요</h2>
      <input type="number" id="input_room_id" placeholder="방 번호 입력" required>
      <input type="submit" id="btn_join_room" value="참여하기">
      <br>
      <label id="error_message" hidden"></label>
    </div>

    <% } %>

    <div class="lobby" hidden>
      <h1 id="status">참가자를 대기중입니다...</h1>
      <h2>방 번호 : <label id="room_id"></label></h2>
      <h2>대기자 : <label id="joined_player"></label> / <label id="max_player"></label></h2>
      <input id="ready_game_button" type="button" value="준비 완료" disabled>
    </div>
  </div>

  <!-- 게임 시작할 때 보여줄 화면 -->
  <div class="start_game" hidden>
    <h1 id="timer">남은시간 : </h1>
    <h1 id="hibiscus"> </h1>
    <input type="range" id="range" min="0" max="10000" value="0" step="1" style="width: 100%;">
    <h2>현재 속도 : <label id="speed">0</label></h2>
    <h1 id="result"></h1>
  </div>



</body>

</html>