<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/header', {title : "로비" }) %>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>

  <div id="inBox">
    <center>
    <p></p>
    <h1 class="first">&nbspThe&nbsp&nbsp&nbsp&nbsp<br>Squad<br>Game</h1>
    <p></p>
    <input class="input1" type="text" id="nickname" placeholder="닉네임을 입력해주세요."><P><br></P>
    <input class="input2" type="submit" id="btnCreateRoom" value="방만들기">&nbsp&nbsp&nbsp
    <input class="input2" type="submit" id="btnEnterRoom" value="참여하기">
    </center>
  </div>
</body>

</html>