<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/header', {title : "게임화면" }) %>

</head>

<body>
  <div class="finished">

      <h3> <%= finished %> </h3>

  </div>
  <div class="failed">

      <h3> <%= failed %> </h3>

  </div>
  <a href="/main"></a>
</body>

</html>