<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/header', {title : "메인페이지" }) %>
</head>

<body>
  <h1><a id="nickname"></a>님 환영합니다!</h1>
  <h1>참가자를 대기중입니다...</h1>
  <h2>방 번호 : <label id="roomID"></label></h2>
  <h2>대기자 : <label id="joinedPlayer"></label> / <label id="maxPlayer"></label></h2>

  <input type="range" id="field" min="0" max="10000" value="0" step="1" style="width: 100%;" disabled>

  <%- include('templates/footer') %>
  <script>
    $(() => {
      $("#nickname").text(user_id);
    })

    create_room()
  </script>
</body>

</html>