<%- include('templates/header', {title : "대기실"}) %>

<body>
  <h1>참가자를 대기중입니다!</h1>
  <h2>방 번호 : <label id="roomNumber"></label></h2>
  <h2>현재 참가자 : <label id="enteredParticipant"></label> / <label id="maxParticipant"></label></h2>

  <script>
    const socket = io();
    

    socket.emit('create_room', {
      userId : 'test'
    });

    socket.on('room_info', (data) => {
      $('#roomNumber').text(data.roomNumber);
      $('#enteredParticipant').text(data.enteredParticipant);
      $('#maxParticipant').text(data.maxParticipant);
    })






    // // 1. 웹소켓 클라이언트 객체 생성 
    // const ws = new WebSocket("ws://192.168.219.100:3000");

    // // 2. 웹소켓 이벤트 처리
    // // 2-1) 연결 이벤트 처리
    // ws.onopen = () => {
    //   console.log("웹소켓서버와 연결 성공");
    //   if (ws.readyState === ws.OPEN) {
    //     let msg = {
    //       userType : 'moderator',
    //       status : 'enter',
    //     }
    //     ws.send(JSON.stringify(msg));
        
    //   } else {
    //     alert("연결된 웹소켓 서버가 없습니다.");
    //   }




    // };
    // // 2-2) 메세지 수신 이벤트 처리 
    // ws.onmessage = function (event) {
    //   console.log(`서버 웹소켓에게 받은 데이터: ${event.data}`);
    // }
    // // 2-3) 연결 종료 이벤트 처리 
    // ws.onclose = function () {
    //   console.log("서버 웹소켓 연결 종료");
    // }
    // // 2-4) 에러 발생 이벤트 처리 
    // ws.onerror = function (event) {
    //   console.log(event)
    // }

    

    // 3. 버튼 클릭 이벤트 처리 
    // 3-1) 웹소켓 서버에게 메세지 보내기 
    // let count = 1;
    // document.getElementById("btn_send").onclick = function () {
    //   if (ws.readyState === ws.OPEN) {
    //     // 연결 상태 확인 
    //     ws.send(`증가하는 숫자를 보냅니다 => ${count}`);
    //     // 웹소켓 서버에게 메시지 전송
    //     count++;
    //     // 보낼때마다 숫자를 1씩 증가 
    //   } else {
    //     alert("연결된 웹소켓 서버가 없습니다.");
    //   }
    // }
    // 3-2) 웹소켓 서버와 연결 끊기 
    // document.getElementById("btn_close").onclick = function () {
    //   if (ws.readyState === ws.OPEN) {
    //     // 연결 상태 확인 
    //     ws.close();
    //     // 연결 종료 
    //   } else {
    //     alert("연결된 웹소켓 서버가 없습니다.");
    //   }
    // }
  </script>

</body>

</html>