<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>대기실</title>
</head>
<body>
  <h1>참가자를 대기중입니다!</h1>
  <h2>방 번호 : 3030</h2>
  
</body>
</html>