body {
  position: absolute;
  width: 1200px;
  height: 900px;
  left: calc(50% - 1200px/2);
  top: calc(50% - 900px/2 + 0.5px);
  background-image:url('/images/좋은거.gif');
  background-repeat : no-repeat;
  background-size : cover;
  mix-blend-mode: normal;
}
#inBox {
 position: absolute;
 width: 1300px;
 height: 750px;
 top: calc(50% - 750px/2 + 0.5px);
 background: rgba(0, 0, 0, 0.7);
 mix-blend-mode: normal;
 border-radius: 10px;
}
.input1 {
 width: 690px;
 height: 65px;
 font-family: SeoulHangang;
 font-style: normal;
 font-weight: normal;
 font-size: 64px;
 line-height: 64px;
 /* identical to box height */
 color: rgba(242, 255, 94, 0.8);
 mix-blend-mode: normal;
}
.input3 {
 position: absolute;
 width: 120px;
 height: 30px;
 left: calc(50% - 99px/2 + 420px);
 top: calc(50% - 30px/2 + 282.5px);
 font-family: SeoulHangang;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 line-height: 24px;
 color: #000000;
 mix-blend-mode: normal;
}
.lobby, .before_join {
 width: 45%;
 float: left;
 color: rgba(242, 255, 94, 0.8);
 font-family: SeoulHangang;
}
.right{
 width: 55%;
 float: right;
 color: rgba(242, 255, 94, 0.8);
 font-family: SeoulHangang;
}
#ready_game_button {
  position: absolute;
  width: 120px;
  height: 30px;
  left: calc(50% - 99px/2 + 420px);
  top: calc(50% - 30px/2 + 282.5px);

  font-family: SeoulHangang;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}
.padd {
  padding-left: 90px;
}
#input_room_id {
  width: 220px;
  height: 40px;
  background: rgba(196, 196, 196, 0.8);
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 20px;
  font-family: SeoulHangang;
  
}
#btn_join_room {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 13px;
  font-family: SeoulHangang;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
}
#hibiscus {
  color: rgba(242, 255, 94, 0.8);
  font-size: 64px;
}
#abcd {
  color: rgba(242, 255, 94, 0.8);
}
#speed {
  font-size: 30px;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  background-image:url('/images/first1.png');
  background-size : cover;

  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  
  width: 430px;
  height: 311px;

  
  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.first111 {
  position: absolute;
  width: 119px;
  height: 31px;
  left: 151px;
  top: 129px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}
.second {
  position: absolute;
  width: 61px;
  height: 29px;
  left: 49px;
  top: 160px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}
.three {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 301px;
  top: 159px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}
#close {
  position:absolute;
  right: 0px;
  width: 80px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.result {
  position: absolute;
  width: 120px;
  height: 30px;
  left: calc(50% - 99px/2 + 420px);
  top: calc(50% - 30px/2 + 282.5px);
  font-family: SeoulHangang;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}